@import url('https://fonts.googleapis.com/css2?family=Fasthand&display=swap');

.quotes {
  background-color: #f2a900;
  width: 50%;
  border: 1px solid;
  padding: 20px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 30px;
  line-height: 40px;
  box-shadow: -10px -10px 5px rgb(0, 0, 0, 0.5);
  flex: 1 1 auto;
  max-width: 50%;
  border-radius: 5px;
}

.author_category {
  font-family: serif;
  margin-top: 5px;
  font-size: 25px;
}

.loader {
  border: 4px solid #f3f3f3;
  border-radius: 50%;
  border-top: 5px solid #f2a900;
  width: 25px;
  height: 25px;
  -webkit-animation: spin 0.2s linear infinite;
  animation: spin 0.2s linear infinite;
  margin: 0 auto;
}

.error {
  font-family: 'Courier New', Courier, monospace;
  color: red;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}