* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app {
  width: 100%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-top: 2rem;
  height: 75vh;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  width: inherit;
  height: 80px;
  box-shadow: rgba(0, 0, 0, 0.04) 0 3px 5px;
}

.heading {
  font-size: 45px;
  padding-left: 10px;
  color: orange;
}

.links {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.links a {
  padding: 8px;
  text-decoration: none;
  border-right: 2px solid #000;
  font-size: 20px;
}

.nav-links a:hover {
  color: orange;
}

.home {
  display: flex;
  flex-direction: column;
  gap: 25px;
  margin-left: 10rem;

  /* min-height: 80vh; */
}

.mini {
  margin-top: 50px;
  font-size: 50px;
  color: orange;
}

footer {
  font-weight: 500;
  font-family: 'Poppins', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  color: black;
  border-top: 1px solid rgba(0, 0, 0, 0.491);
}

@media (max-width: 768px) {
  .App {
    flex-direction: column;
    justify-content: flex-start;
    padding: 50px;
  }
}
